a {
  text-decoration: none;
  color: white;
}

.small {
  font-size: 0.6em;
}

.spacer {
  flex: 1 1 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

li {
  margin: 5px;
}

span {
  margin: 1%
}

.mat-menu-item {
  width: 250px;
}

.notif {
  /* padding-bottom: 20px; */
  float: right;
  /* border-radius: 100000px;
  background: #FF4081;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  width: 20px;
  height: 20px; */
}
