a {
    text-decoration: none;
    color: white;
  }

  .spacer {
    flex: 1 1 auto;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  li {
    margin: 5px;
  }

  span {
    margin: 1%
  }

  .mat-menu-item {
    width: 250px;
  }