<h1 style="text-align: center; margin-top: 4%">About</h1>
<div class="center">
  <div class="text">
    <p>
      Anyone who follows the stock market knows that some days market indexes
      and stock prices move up and other days they move down. This is called
      volatility. The more dramatic the swings, the higher the level of
      volatility—and potential risk.
    </p>
    <br />
    <p>
      Volatility is measured by many indexes and coefficients; however the most
      prevalent is VIX or the CBOE Volatility Index. This value is often used to
      track volatility where spikes above 20 represent abnormal periods of
      volatility.
    </p>
    <br />
    <p>
      Below is an interactive display of the Standard and Poor's 500, or simply
      the S&P 500, and the CBOE Volatility Index, or VIX. Explore below to
      understand the correlations and variations that occur between the two
      values.
    </p>
  </div>

  <div class="parent-frames">
    <div class="iframes">
      <iframe
        src="https://datahub.io/core/finance-vix/view/0"
        width="80%"
        height="500"
        frameBorder="0"
      ></iframe>
    </div>

    <div class="iframes">
      <iframe
        src="https://datahub.io/core/s-and-p-500/view/0"
        width="80%"
        height="500"
        frameborder="0"
      ></iframe>
    </div>
  </div>
</div>
<h1 style="text-align: center">Purpose</h1>
<app-purpose></app-purpose>
