mat-form-field {
  width: 15%;
  margin: auto;
  padding: 10px;
}

mat-slider {
  width: 30%;
  margin: auto;
  padding: 10px;
  color-scheme: light;
}

.mat-card {
  width: 70%;
  margin: auto;
}

:host {
  display: block;
  margin-top: 1rem;
}

button {
  margin: 10px;
}

.center-div {
  display: flex;
  justify-content: center;
  translate: 0% 10%;
}