<div class="text">
    <p>
        Volatility often presents opportunity when properly reacted to however without appropriate adjustments
        volatility can be detrimental. Traditionally, increases in volatility creates shifts in sector momentum
        determined by the fundamental cause of the volatility shift. Identifying the cause however, is often an elusive
        and subjective matter.
    </p>
    <br>
    <p>
        Previous studies focused on the Chinese Equity Market have utilized sentiment analysis through news headlines to
        isolate potential drivers for increases in volatility. Utilizing this approach, causes could be identified and
        suggestions be made.
    </p>
    <br>
    <p>
        Developing upon this idea, our novel approach interpolates sentiment analysis with volatility values to identify
        periods where sentiment is driving markets and exclude periods where markets are behaving closer to a norm.
    </p>
</div>